.commonBtn {
  background: #1070cd;
  color: #fff;
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 10px 40px;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
